/* FOOTER */
@media (max-width: 1116px) {
	footer .social-icons .fab {
	  width: 33px;
	  height: 33px;
	  line-height: 33px;
	  font-size: 15px;
	  margin-right: 8px;
	}
	footer h6 {
	  font-size: 14px;
	}
  }
  
  @media (max-width: 938px) {
	footer .social-icons .fab, 
	footer .email {
	  width: 30px;
	  height: 30px;
	  line-height: 30px;
	  font-size: 13px;
	  margin-right: 5px;
	}
  }
  
  @media (max-width: 770px) {
	footer .social-icons .fab, 
	footer .email {
	  width: 36px;
	  height: 36px;
	  line-height: 36px;
	  font-size: 15px;
	  margin-right: 10px;
	}
	footer {
	  bottom: unset;
	}
	footer .col-md-3,
	.col-md-3:nth-child(2),
	.col-md-3:nth-child(3) {
	  flex-basis: 100% !important; /* ستون‌ها ستونی شوند */
	  text-align: center;
	}
  }
  
  /* NAVBAR & MAIN CONTENT */
  @media (max-width: 768px) {
	.search {
	  right: 50%;
	  top: 80px;
	  transform: translateX(50%);
	  width: 60%;
	}
	#toggleDark,
	.language {
	  position: static;
	  margin: 10px;
	}
  }
  
  /* VERY SMALL DEVICES */
  @media (max-width: 420px) {
	.navbar-toggler-icon {
	  font-size: 10px;
	}
	.navbar {
	  font-size: 12px;
	}
	#toggleDark {
	  font-size: 13px;
	  visibility: visible;
	  position: absolute;
	  right: 2px;
	  top: 27px;
	}
	.language {
	  font-size: 13px;
	  visibility: visible;
	  position: absolute;
	  right: 25px;
	  top: 27px;
	}
	.choose {
	  position: relative;
	  bottom: -25px;
	}
	.choose-us {
	  font-size: 13px;
	}
	section, footer {
	  font-size: 13px;
	}
	.search {
	  position: absolute;
	  right: 115px;
	  top: 28px;
	  width: 100px;
		border-radius: 0px;
	}
	.pdf{
		font-size: 3px;
	}
	.logo{
		position: absolute;
		top: 0;
		left: 6px;
		max-width: 100%;
		height: auto;
	}
  }

